@import url('https://fonts.googleapis.com/css2?family=Changa:wght@500&family=Press+Start+2P&display=swap');


body {
    font-family: 'press start 2p';
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--glass-effect);
    backdrop-filter: blur(10px);
    transform: translateX(-100vw);
  }

  .overlay-slide-right {
    transition: all 0.4s ease-in-out;
    transform: translateX(0);
  }
  
  .overlay-slide-left {
    transition: all 0.8s ease-in-out;
    transform: translateX(-100vw);
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(160, 142, 142, 0.3);;
    padding: 40px;
  }

  p {
    font-size: 32px;

  }

  button {
    /* background: url("/assets/images/wall.png"); */
    background-color: #484ba9;
    padding: 10px 20px 10px 20px;
    border: none;
    font-size: 16px;
    font-family: 'changa';
    cursor: pointer;
	border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(255,255,255,.5);
	border-top: 6px inset rgba(255,255,255,.5);
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	font-size: 2.2rem;
	margin: 1rem;
	min-width: 200px;
	padding: .5rem;
	width: auto;
}

button:focus,
	button:hover {
		background: #BCBCBC;
	}

